
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100;1,14..32,100&family=Oxanium:wght@200..800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Fira+Sans+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Inter:ital,opsz,wght@0,14..32,100;1,14..32,100&family=Oxanium:wght@200..800&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');



body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    background-image: url('/images/jack-bodine-0VthhkNnh3w-unsplash.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    margin-top: 100px;
    justify-content: center;
    align-items: center;
    height: auto;
}

.membership-container {
    background-color: rgb(255, 255, 255,0.5);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
    /* margin-bottom: 90px; */
}

h1 {
    color: #333;
    margin-bottom: 20px;
    font-family: "Playwrite GB S", serif;
    font-size: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
    color: #555;
}

select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

p {
    margin-top: 15px;
    color: #333;
}

.purchaseBookButton {
    margin-top: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.purchaseBookButton:hover {
    background-color: #0056b3;
}

#subscription-status {
    margin-top: 20px;
    font-weight: bold;
}
#upgrade-fee {
    font-weight: bold;
    margin: 10px 0;
}
select, button {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}




footer {
    background-color: #AF1740; /* SaddleBrown */
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-top: auto;
}

footer .footer-content {
    max-width: 1200px;
    margin: 0 auto;
}

footer ul {
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
    display: flex;
    justify-content: center;
}

footer ul li {
    margin: 0 10px;
}

footer ul li a {
    color: #fff;
    text-decoration: none;
}

footer ul li a:hover {
    text-decoration: underline;
}